@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ------------------------------------------------------------
sidenavbar
------------------------------------------------------------ */
nav{
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: #1A2238;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navheading{
    margin-top: 30px;
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
    color: #eeeeee;
    cursor: pointer;
}
.navheading p{
    display: inline;
}
.navheading img{
    height: 30px;
    width: 30px;
}
.links{
    padding-top: 50px;
}
.links a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 13px;
}
.links a:hover{
    background-color: #F4DB7D;
    color: #1A2238;
    font-weight: bold;
    font-size: 17px;
    transition: ease-in-out .5s;
}
#active{
    background-color: #F4DB7D;
    color: #1A2238;
    font-weight: bold;
}

/* ------------------------------------------------------------
mainbody
------------------------------------------------------------ */
.mainbody{
    padding: 15px;
    margin-left: 300px;
    height: 100%;
}
/* ------------------------------------------------------------
table
------------------------------------------------------------ */
.heading{
    text-align: center;
    padding-top: 25px;
}
.headingunderline{
    margin-top: 3px;
    background-color: #1A2238;
    height: 3px;
}
table{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
}
th{
    background-color: #1A2238;
    color: #FFFFFF;
}
th,td{
    padding: 15px 15px;
}
tr:nth-child(odd){
    background-color: #eeeeee;
    color: #1A2238;
}
.tablediv{
    overflow-x: auto;
}
/* ------------------------------------------------------------
login form
------------------------------------------------------------ */
.costperhour{
    padding: 20px;
    margin-left:15px ;
    display: flex;
    width: 380px;
    justify-content: space-between;
    border-radius: 6px;
}
.costperhour p{
    font-weight: bold;
    color: #1A2238;
}

.input-form{
    margin: 20px;
    margin-top: 5px;
    margin-left: 15px;
    color: #1A2238;
}
.rows{
    display: grid;
    grid-template-columns: 2fr 2fr 4fr ;
    padding: 20px;
}
.subrow input{
    height: 30px;
    width: 250px;
    padding-left: 10px;    
}
.subrow select{
    width: 250px;
    height: 30px;
}
.label{
    font-weight: bold;
}
#address{
    width: 250px;
    height: 44px;
}
.reset{
margin-top: 16px;
}
.rows #submit{
    height: 40px;
    background-color:rgb(5, 190, 76);
    color:#FFFFFF;
    letter-spacing: 4px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    width: 190px;
}
.rows #reset{
    background-color: rgb(40, 127, 197);
    color: #FFFFFF;
    letter-spacing: 4px;
    font-weight: bold;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    width: 190px;
    
}
.subrow{
    display: grid;
    grid-template-rows: 20px 10px;
}
.labelerr{
    color: red;
    font-size: 14px;
    margin-top: 10px;
    visibility: hidden;
}
.labelerradd{
    margin-top: 23px;
    font-size: 14px;
    color: red;
    visibility: hidden;
}
/* ------------------------------------------------------------
responsive
------------------------------------------------------------ */
@media (max-width : 500px){
 nav{
     width: 100%;
     height: 195px;
     position: absolute;
 }  
 .navheading img{
    height: 20px;
    width: 20px;
}

.mainbody{
    position: absolute;
    margin-top: 195px;
    margin-left: 50px;
}
.input-form{
    margin-left: 20px;
    width: 300px;
}
.rows{
    display: grid;
    grid-template-columns: 2fr;
}
}
@media (max-width : 300px){
    nav{
        width: 100%;
        height: 220px;
        position: absolute;
    }  
    .navheading img{
       height: 20px;
       width: 20px;
   }
   .mainbody{
    position: absolute;
    margin-top: 220px;
    margin-left: 10px;
}
    i{
       visibility: visible;
   }
   #icon1 i{
       color: #FFFFFF;
   }
   .links a{
       visibility: hidden;
   }
  
}